<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurveyLineUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SurveyLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SurveyLineUI.Properties.Settings>
            <setting name="delimiter" serializeAs="String">
                <value>\t</value>
            </setting>
            <setting name="line_sep" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="point_sep" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="lineIndexStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pointIndexStart" serializeAs="String">
                <value>0</value>
            </setting>
        </SurveyLineUI.Properties.Settings>
        <SurveyLine.Properties.Settings>
            <setting name="delimiter" serializeAs="String">
                <value>\t</value>
            </setting>
            <setting name="line_sep" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="point_sep" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="lineIndexStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pointIndexStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </SurveyLine.Properties.Settings>
    </userSettings>
</configuration>